<style>
body
{
background-image: url(https://t3.ftcdn.net/jpg/02/14/73/00/360_F_214730041_Fog8VRyicOGvyXZzSicDsXqfcpQofrQk.jpg);
font-family: arial;
    font-size: 22pt;
}
table{
font-family: arial;
    font-size: 22pt;
background-color:white;
}
form {
background-image: url(https://t3.ftcdn.net/jpg/02/14/73/00/360_F_214730041_Fog8VRyicOGvyXZzSicDsXqfcpQofrQk.jpg);
}

p{
    font-family: arial;
    font-size: 22pt;

}

p:hover{
    background-color: lightblue;
}

p.blue:hover{
background-color: lavender;
}

p.pink:hover{
background-color: pink;
}

input{
font-family: arial;
    font-size: 22pt;
}

button{
font-family: arial;
    font-size: 22pt;
}
</style>
